<!DOCTYPE HTML>

<html>
<head>
    <title>Cake shop admin</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h3>
    <a th:href="@{/admin-panel/admin-menu}"><- Menu</a>
</h3>
<form method="POST" th:action="@{/admin-panel/admin-get-order/edit/{id}(id=${order.id})}">
    <select id="status" name="status">
        <option th:each="status : ${T(com.eshagibalov.cakesShop.orders.OrderStatus).values()}"
                th:value="${status}"
                th:text="${status}"
                th:selected="${order.orderStatus == status}">
        </option>
    </select>
    <input type="submit" value="Submit" />
</form>
<table class="table table-striped" border="1" cellpadding="2">
    <tbody>
    <tr>
        <td th:text="${order.usersName}"></td>
        <td th:text="${order.usersNumber}"></td>
        <td th:text="${order.address}"></td>
        <td th:text="${order.time}"></td>
        <td th:text="${order.deliveryMethod}"></td>
        <td th:text="${order.paymentMethod}"></td>
        <td th:text="${order.orderStatus}"></td>
        <td th:text="${order.allCakesNames}"></td>
        <td th:text="${order.price}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>